@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  width: 320px;
  height: 300px;
  font-family: Arial;
  background: #f5f6f7;
  color: #2f2f33;
  font-weight: 350;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.title-small {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom: 5px;
  color: #2f2f33;
  top: 10px;
  left: 102px;
  position: absolute;
  letter-spacing: 9px;
}

.title-large {
  font-size: 48px;
  font-weight: 800;
  font-family: 'Syne', sans-serif;
  margin: 0;
  color: #2f2f33;
  line-height: 1.1;
  letter-spacing: -3px;
}

#popup-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 6rem;
}

.heading{
  font-size: 2rem;
  font-weight: 800;
}

#timerSection{
  padding-bottom: 3rem;
}

#timerDisplay{
  text-align: center;  
  font-size: 3rem;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  border: 1px solid #2f2f33;
  border-radius: 12px;
  margin-bottom: 5px;
}

#restartBtn{
  background-color: #2f2f33;
  color: #f5f6f7;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #f5f6f7;
  transition-duration: 0.4s;
  font-size: medium;
  border: 1px solid #2f2f33;
}

#restartBtn:hover{
  color: #2f2f33;
  background-color: #f5f6f7;
  box-shadow:0 8px 16px 0 #2f2f333a;
}

#startBtn{
  background-color: #2f2f33;
  color: #f5f6f7;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: medium;
  border: 1px solid #2f2f33;

}

#startBtn:hover{
  color: #2f2f33;
  background-color: #f5f6f7;
  box-shadow:0 8px 16px 0 #2f2f333a;
}



#blocklistSection{
  padding-bottom: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* width: 70vw; */
}

#siteInput{
  color: #2f2f33;
  background-color: #f5f6f7;
  border-radius: 6px;
  font-size: medium;
  padding: 5px;
  border: 1px solid #2f2f33;
  width: 168px;
}

#addSiteBtn{
  background-color: #2f2f33;
  color: #f5f6f7;
  border-radius: 8px;
  font-size: medium;
  padding: 5px;
  width: 30px;
  border: 1px solid #2f2f33;
  cursor: pointer;
}

#addSiteBtn:hover{
  color: #2f2f33;
  background-color: #f5f6f7;
  box-shadow:0 8px 16px 0 #2f2f333a;
}

#blockedSitesList{
  list-style: none;
  display:inline-flex;
  padding-left: 0;
}

li{
  border: 1px solid #2f2f33;
  border-radius: 50%;
  padding: 10px;
  margin: 2px;

}